                * {
                    box-sizing: border-box;
                }
                /*:root{ /*
        --couleur bleu-f: #0065FC;  
        --couleur-bleu-c: #DEEBFF;
        --couleur-gris-c: #F2F2F2;
        --couleur: black;  
                                */
                /* bordure */
                /*
        --petite-bord: 15px;
        --grande-bord: 20px;
                                */
                /* font */
                /*
        --raleway: 'Raleway', sans-serif;
        --gras: 700;
        --h1: 1.4em;
        --h2: 1.4em;
        --h3: 1.3em;
        --h4: 1.1em;
        --p: 1em;
        --pprix: 0.8em;
    }                           */
                
                body {
                    font-family: 'Raleway', sans-serif;
                    margin: 0 auto;
                }
                
                 ::selection {
                    color: unset;
                    background-color: #DEEBFF;
                }
                
                 :link {
                    color: black
                }
                
                .flexible {
                    display: flex;
                }
                
                .relative {
                    position: relative;
                    height: 48px;
                }
                
                .absolue {
                    position: absolute;
                }
                /* couleur recommandées */
                
                .bleu {
                    color: #0065FC;
                }
                
                .bleu-c {
                    color: #DEEBFF;
                }
                
                .fe-bleu-f {
                    background-color: #0065FC;
                }
                
                .gris {
                    color: rgb(199, 198, 198);
                }
                
                .fe-gris {
                    background-color: #F2F2F2;
                }
                
                .fe-griss {
                    background-color: #F2F2F2;
                }
                
                .fe-bleu-c {
                    background-color: #DEEBFF;
                }
                /* texte */
                
                a {
                    text-decoration: none;
                    color: black;
                }
                
                .centrer {
                    text-align: center;
                }
                
                .gras {
                    font-weight: 700;
                }
                
                .bordurenone {
                    border: none;
                }
                /* logo menu */
                
                .logo-menu {
                    height: 130px;
                    width: 100%;
                }
                /*logo*/
                
                .logo-menu figure {
                    margin: 0;
                    left: 20px;
                    top: 25px;
                }
                
                .logo-menu figure img {
                    width: 100px;
                }
                /* menu */
                
                nav {
                    min-width: 100%;
                }
                
                nav ul {
                    flex-flow: row-reverse wrap-reverse;
                    padding-left: 0;
                    margin: 0;
                    padding-top: 37px;
                }
                
                nav ul li {
                    min-width: 50%;
                    list-style: none;
                }
                
                .un {
                    order: 2;
                }
                
                .un,
                .deux {
                    padding: 37px 0 15px 0;
                    border-bottom: 2px solid #F2F2F2;
                }
                /* interaction menu */
                
                .un:hover,
                .deux:hover {
                    border-bottom: 2px solid #0065FC;
                    cursor: pointer;
                }
                
                .un:hover a,
                .deux:hover a {
                    color: #0065FC;
                }
                /*en tête de page*/
                
                h1[class='gras'] {
                    margin: 30px 0 0 0;
                    font-size: 1.4em;
                }
                
                .p-un {
                    margin: 10px 0 18px 0;
                    font-size: 1em;
                }
                /*zone du texte*/
                
                .texte {
                    display: none;
                }
                /*zone du bouton*/
                
                .search {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .borduresearch {
                    width: 360px;
                    height: 50px;
                    margin-left: -7px;
                    margin-bottom: 15px;
                    border-radius: 10px;
                    border: 0.5px solid #f2f2f2;
                }
                
                .paddingsearch {
                    padding-left: 20px;
                }
                
                .recherche {
                    height: 47px;
                    margin: 1px;
                    width: 194px;
                    font-size: 17px;
                    color: black;
                    font-weight: bold;
                }
                
                .iconsize {
                    height: 50px;
                    width: 50px;
                    border-radius: 10px 0 0 10px;
                }
                
                .buttonsearch {
                    height: 50px;
                    width: 120px;
                    color: white;
                    cursor: pointer;
                    border-radius: 0 10px 10px 0;
                }
                /*filtres*/
                
                .list {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: auto;
                    /*écart de grille css*/
                    flex-wrap: wrap;
                    /*sur une seule ligne ou sur plusieurs ligne avec retour automatique*/
                }
                
                .filtre .fas {
                    color: #0065fc;
                    background-color: #DEEBFF;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                
                .conteneur-filt {
                    flex-wrap: wrap;
                    justify-content: center;
                }
                
                .filtre {
                    width: 235px;
                    margin: 8px;
                    border: solid 2px #f2f2f2;
                    border-radius: 40px;
                    display: flex;
                    align-items: center;
                }
                
                .filtre span {
                    margin: 15px;
                    font-weight: bold;
                }
                
                .filtre:hover {
                    background-color: #DEEBFF;
                    transform: scale(1.03);
                }
                /* information corp */
                
                aside[class='info flexible'] {
                    max-width: 1500px;
                    margin: auto;
                    line-height: 2.1em;
                }
                
                aside[class='activité'] {
                    max-width: 1500px;
                    margin: auto;
                    height: 592px;
                }
                
                .info a {
                    border-radius: 10px;
                }
                
                .info i {
                    font-size: 0.7em;
                    border: 1px solid rgb(199, 198, 198);
                    border-radius: 12px;
                    min-width: 20px;
                    height: 20px;
                    padding: 5px 9px 17px 9px;
                }
                
                .info p {
                    margin: 5px 0 25px 10px;
                }
                /* interaction information */
                
                .info a:hover i {
                    color: #DEEBFF;
                    background-color: #0065FC;
                }
                /* main, main section, hebergement et populaire */
                
                main {
                    margin: 15px 0 10px 0;
                }
                
                .main-section {
                    flex-direction: column-reverse;
                }
                /* Hebergement */
                /* carte informative hebergement */
                
                .ensemble-carte-informative-article a,
                .ensemble-carte-informative-populaire a {
                    box-shadow: 1px 3px 8px 1px #e2e2e2;
                    border-radius: 20px;
                }
                /* hebergement */
                
                article h2 {
                    font-size: 1.4em;
                    padding-top: 18px;
                    margin-left: 5%;
                    margin-bottom: 10px;
                }
                
                .ensemble-carte-informative-article {
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-content: space-evenly;
                }
                
                .carte-informative-article {
                    height: 215px;
                    width: 90%;
                    padding-top: 5px;
                }
                
                .carte-informative-article img {
                    width: 100%;
                    height: 110px;
                    object-fit: cover;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                
                .carte-informative-article .lieu,
                .carte-informative-article .prix,
                .carte-informative-article .etoile {
                    margin: 2px 20px 2px 7%;
                }
                
                .prix {
                    font-size: 0.8em;
                    line-height: 1.8em;
                }
                
                .plus {
                    margin: 0 0 25px 3%;
                    padding: 25px 0 0 10px;
                    font-size: 1.1em;
                }
                /* éléments texte des cartes article et populaire */
                
                .carte-informative-article p[class='lieu gras'],
                .carte-informative-populaire p[class='lieu gras'] {
                    font-size: 1em;
                }
                
                .carte-informative-article p i,
                .carte-informative-populaire p i {
                    font-size: 0.7em;
                }
                
                span {
                    margin: 0 2px;
                }
                /* spécificité carte hebergement */
                
                .cannebiere,
                .port,
                .mouettes,
                .mer,
                .panier,
                .amina {
                    height: 115px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    margin: 0 5px;
                }
                /*les plus populaires*/
                
                .populaire h2 {
                    margin: 0 0%;
                    font-size: 23px;
                    padding-top: Opx;
                }
                
                .populaire h2 i {
                    right: 0;
                    font-size: 1em;
                }
                
                .ensemble-carte-informative-populaire {
                    flex-flow: row wrap;
                    justify-content: center;
                    margin: 24px 0;
                    height: 465px;
                }
                
                .carte-informative-populaire {
                    background-color: white;
                    height: 145px;
                    flex-flow: column wrap;
                    position: relative;
                    align-items: flex-start;
                    border-radius: 15px;
                    padding-bottom: 50px;
                }
                
                .carte-informative-populaire img {
                    width: 100%;
                    height: 134px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    object-fit: cover;
                }
                
                .carte-informative-populaire p[class="lieu gras"] {
                    margin: 16px 0 0 10px;
                    width: 50%;
                }
                
                .carte-informative-populaire p[class="prix"] {
                    margin: 5px 0 0 10px;
                    width: 50%;
                }
                
                .carte-informative-populaire p[class="etoile"] {
                    position: absolute;
                    bottom: 0;
                    left: 45.5%;
                }
                /*carte spécifique populaire*/
                
                .soleil,
                .coeur,
                .blanc {
                    min-width: 109px;
                    width: 38%;
                    height: 135px;
                    margin: 5px 0 5px 5px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                /* interaction populaire */
                
                .populaire h2 i:hover {
                    color: #0065FC;
                    cursor: pointer;
                }
                /* interaction cartes article et populaire */
                
                .ensemble-carte-informative-article a:hover,
                .ensemble-carte-informative-populaire a:hover {
                    box-shadow: 2px 3px 8px 2px black;
                    transition: 0.5s box-shadow;
                }
                /* interaction du main */
                
                .plus a:hover {
                    color: #0065FC;
                }
                /* Activités à Marseille */
                
                .activité {
                    margin: 0 0 30px 0;
                }
                
                .activité h3 {
                    margin: 10px 0 10px 5%;
                    padding-top: 12px;
                    font-size: 1.3em;
                }
                
                .carte-activité {
                    flex-flow: column wrap;
                }
                
                .carte-activité img {
                    width: 100%;
                    height: 133px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                
                .carte-activité a {
                    border-radius: 20px;
                    box-shadow: 1px 3px 8px 1px #e2e2e2;
                    margin: auto;
                }
                
                .carte-informative3,
                .carte-informative4,
                .carte-informative5,
                .carte-informative6,
                .carte-informative7 {
                    height: 190px;
                    border-radius: 20px;
                }
                
                .carte-informative3 p[class='lieu gras'],
                .carte-informative4 p[class='lieu gras'],
                .carte-informative5 p[class='lieu gras'],
                .carte-informative6 p[class='lieu gras'],
                .carte-informative7 p[class='lieu gras'] {
                    margin-left: 3%;
                    font-size: 1em;
                    margin-top: 20px;
                }
                /*carte spécifique activité*/
                
                .vieuxport,
                .pnc,
                .pomegues,
                .frioul,
                .nddlg,
                .longchamp {
                    height: 133px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    margin: 0;
                }
                /* interaction activité */
                
                .carte-activité a:hover {
                    box-shadow: 2px 3px 8px 2px black;
                    transition: 0.5s box-shadow;
                }
                /* pied de page */
                
                .ensemble-footer {
                    display: flex;
                    justify-content: space-between;
                    max-width: 100%;
                    width: 1500px;
                    margin: auto;
                    box-sizing: border-box;
                }
                
                .footer {
                    background-color: #F2F2F2;
                    width: 100%;
                }
                
                .footer1 section .footer2 section .footer3 section {
                    width: 30%;
                    padding: 2rem 2rem;
                }
                
                .pied-de-page section H4 {
                    padding: 15px 0 10px 0;
                    font-size: 1.1em;
                }
                /* interaction pied de page */
                
                .pied-de-page section a:hover {
                    color: gray;
                }
                /* media en dessous de 800px */
                
                @media (max-width: 800px) {
                    /*search*/
                    .corp {
                        margin-left: 24px;
                    }
                    .borduresearch {
                        width: 297px;
                        border-radius: 15px;
                    }
                    .buttonsearch {
                        width: 50px;
                        border-radius: 15px;
                    }
                    .desktopnone {
                        display: block;
                        color: white;
                        cursor: pointer;
                        align-items: center;
                    }
                    .mobilenone {
                        display: none;
                    }
                    /*filtres*/
                    .list {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0px;
                        margin-left: 10px
                    }
                    .filt {
                        margin-left: 14px;
                    }
                    .fe-gris {
                        background-color: #F2F2F2;
                        padding: 37px;
                        width: 101.5%;
                    }
                    .info flexible {
                        margin-left: 47px;
                    }
                    aside[class='info flexible'] {
                        margin: auto;
                        margin-bottom: 30px;
                        margin-top: 22px;
                        width: 100%;
                        line-height: 1.1em;
                        margin-left: 10px;
                    }
                    .info p {
                        margin: 3px 0 18px 1px;
                        margin-left: 6px;
                    }
                    .populaire h2 {
                        margin: 3px 12px 0 -12px;
                    }
                    /* article */
                    .ensemble-carte-informative-article {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 23px;
                    }
                    .carte-informative-article {
                        width: 87.5%;
                    }
                    .carte-informative-populaire {
                        margin: 11px 0px 12px 0;
                    }
                    /* activité */
                    .carte-activité {
                        flex-flow: row wrap;
                        gap: 2rem;
                    }
                    .carte-activité a {
                        width: 82.5%;
                    }
                    .ensemble-footer {
                        flex-direction: column;
                        padding: 2rem;
                    }
                    aside[class='activité'] {
                        max-width: 1500px;
                        margin: auto;
                        height: 1400px;
                    }
                    .footer {
                        background-color: #F2F2F2;
                        width: 100%;
                    }
                    .footer1:first-child {
                        margin-top: 0;
                    }
                    .footer1 section {
                        width: 100%;
                        padding: 0;
                        margin: 1rem 0;
                    }
                    .footer2 section {
                        width: 100%;
                        padding: 0;
                        margin: 1rem 0;
                    }
                    .footer3 section {
                        width: 100%;
                        padding: 0;
                        margin: 1rem 0;
                    }
                    .pied-de-page section h4 {
                        padding: 0px 0 0px 0;
                    }
                }
                
                @media screen and (min-width: 820px) and (max-width:1028px) {
                    .fe-gris {
                        background-color: red;
                        padding: 37px;
                        width: 101.5%;
                    }
                    aside[class='info flexible'] {
                        margin: auto;
                        margin-bottom: 30px;
                        margin-top: 22px;
                        width: 100%;
                        line-height: 1.1em;
                        margin-left: 10px;
                    }
                    .populaire h2 {
                        margin: 3px 12px 0 -12px;
                    }
                    .carte-informative-populaire {
                        margin: 11px 0px 12px 0;
                    }
                    aside[class='activité'] {
                        max-width: 1500px;
                        margin: auto;
                        height: 1400px;
                    }
                    .carte-activité {
                        flex-flow: row wrap;
                        gap: 2rem;
                    }
                    .carte-activité a {
                        width: 82.5%;
                    }
                    .footer {
                        background-color: #F2F2F2;
                        width: 100%;
                    }
                    .ensemble-footer {
                        /* flex-direction: column; */
                        padding: 2rem;
                    }
                }
                /* media au dessus de 1030px */
                
                @media screen and (min-width: 1030px) {
                    /*  :root{
            --p: 0.79em;
            --pprix: 0.69em;
        }   */
                    /* body */
                    body {
                        max-width: 1930px;
                    }
                    /* menu logo */
                    /* logo */
                    .logo-menu {
                        max-width: 1500px;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin: auto;
                    }
                    .logo-menu figure {
                        left: 69px;
                        top: 45px;
                    }
                    /* menu */
                    nav {
                        min-width: 460px;
                        width: 460px;
                        position: absolute;
                        right: 1%;
                    }
                    nav ul {
                        flex-flow: row nowrap;
                        justify-content: space-evenly;
                        padding: 0;
                    }
                    nav ul li {
                        min-width: 30%;
                    }
                    .un,
                    .deux {
                        order: unset;
                        padding: 50px 0 0 0;
                        border-bottom: none;
                        border-top: 2px solid transparent;
                    }
                    /* interaction menu logo */
                    .un:hover,
                    .deux:hover {
                        border-bottom: none;
                        border-top: 2px solid #0065FC;
                    }
                    /* section corp */
                    section[class='corp'] {
                        max-width: 1500px;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin: auto;
                    }
                    .list {
                        max-width: 1500px;
                        margin: auto;
                    }
                    .desktopnone {
                        display: none;
                    }
                    /* slogan */
                    .p-un {
                        line-height: 1.1em;
                    }
                    /* section hero */
                    .main-section {
                        max-width: 1500px;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin: auto;
                    }
                    .carte-informative-populaire p[class='lieu gras'],
                    .carte-informative-article p[class='lieu gras'],
                    .carte-activité p[class='lieu gras'] {
                        font-size: 0.79em;
                    }
                    /* article */
                    article {
                        background-color: #F2F2F2;
                        border-radius: 20px;
                        max-width: 61%;
                        padding: 0 1%;
                        min-height: 100%;
                        width: 850px;
                    }
                    .article h2 {
                        padding-top: 20px;
                        margin: 18px 0 10px 3%;
                    }
                    aside[class='populaire fe-gris'] {
                        width: 1500px;
                        margin: auto;
                        height: 603px;
                    }
                    .ensemble-carte-informative-article {
                        align-content: space-around;
                        height: 450px;
                    }
                    .carte-informative-article {
                        background-color: white;
                        width: 29%;
                    }
                    p[class='lieu gras'] {
                        font-size: 0.8em;
                    }
                    .prix {
                        font-size: 0.69em;
                    }
                    .plus {
                        margin-left: 2%;
                        padding: 25px 0 20px 10px;
                    }
                    /* populaire */
                    .populaire {
                        max-width: 29%;
                        border-radius: 20px;
                    }
                    .populaire h2 {
                        padding-top: 20px;
                        margin: 18px 0 10px 8%;
                    }
                    .populaire h2 i {
                        right: 25px;
                    }
                    .ensemble-carte-informative-populaire {
                        height: 85%;
                        margin: 0;
                        align-items: center;
                    }
                    .ensemble-carte-informative-populaire a {
                        width: 84%;
                    }
                    .carte-informative-populaire {
                        margin: 0px 0px 6px 0;
                        margin-left: 17px;
                        width: 350px;
                    }
                    .carte-informative-populaire img {
                        width: 100%;
                    }
                    .soleil,
                    .coeur,
                    .blanc {
                        min-width: 36%;
                        width: 36%;
                    }
                    /* activité */
                    .activité {
                        margin: auto;
                    }
                    .activité h3 {
                        margin: auto;
                        margin-top: 50px;
                    }
                    .carte-activité {
                        height: 445px;
                        align-content: space-between;
                        justify-content: space-between;
                    }
                    .carte-activité a {
                        width: 20.5%;
                    }
                    .carte-informative3 p,
                    .carte-informative4 p,
                    .carte-informative5 p,
                    .carte-informative6 p,
                    .carte-informative7 p {
                        font-size: 0.79em;
                    }
                    /* carte informative activité */
                    .carte-informative3 {
                        Height: 444px;
                    }
                    .carte-informative4 {
                        height: 235px;
                    }
                    .carte-informative5 {
                        height: 165px;
                    }
                    .carte-informative6 {
                        height: 195px;
                    }
                    .carte-informative7 {
                        height: 210px;
                    }
                    /*carte spécifique activité*/
                    .vieuxport,
                    .vieuxport img {
                        Height: 390px;
                    }
                    .pnc,
                    .pnc img {
                        Height: 390px;
                    }
                    .pomegues,
                    .pomegues img {
                        Height: 180px;
                    }
                    .frioul,
                    .frioul img {
                        Height: 110px;
                    }
                    .nddlg,
                    .nddlg img {
                        Height: 140px;
                    }
                    .longchamp,
                    .longchamp img {
                        Height: 154px;
                    }
                }
                /* pied de page */
                
                .pied-de-page {
                    background-color: #F2F2F2;
                }
                
                .pied-de-page section {
                    margin: auto;
                    width: 11.5%;
                }
                
                .pied-de-page section h4 {
                    padding: 25px 0 10px 0;
                }